{% extends "layout.twig" %}

{% block content %}
    <h3>Available Routes</h3>
    {% for route in routes %}
        <li><a href="{{ route.getPath }}">{{ route.getPath }}</a> ({{ route.getMethods[0] }})</li>
    {% endfor %}
    If the links "won't work", you should prepend 'index.php' to your links. (e.g. localhost/index.php/controllerpath)
    <br>
    Ideally, you should be serving this with the built in PHP Web Server <code>(php -S localhost:8000)</code>
    <br>
    If the above doesn't work, try <code>php -S localhost:8000 index.php</code>
    <br>
    Configuration settings/secrets is done with '.env' files. There should be one in the directory, use it to configure things like database user names and passwords.

{% endblock %}
