<html>
<head>
    <title>{% block title 'Silex' %} </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
        body {
            font-family: Roboto;
        }
    </style>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
